<h1 class='title' ng-bind='::$ctrl.title'></h1>
<form name='$ctrl.contactForm' ng-submit='$ctrl.handleSubmit()'>
  <label>Email:<br>
    <input
      type='email'
      required
      ng-model='$ctrl.email'
      ng-trim=true
    >
  </label><br>
  <label>Message:<br>
    <textarea
      name='text'
      ng-model='$ctrl.text'
      required
      minlength='10'
      maxlength='300'
      ng-model-options="{ allowInvalid: true }"
      ng-trim=false
    ></textarea>
  </label>
  <div ng-class='$ctrl.textClasses' class='text-tip text-info'>
    <span>10 to 300 charactors</span>
    <span ng-bind='$ctrl.maxTextCount - $ctrl.text.length' />
  </div>
  <button class='btn-primary' type='submit'>Send</button>
</form>
<samp>message: {{ $ctrl.contactForm.text }}</samp>
